.Main-1{
    opacity: 0;
    transition: opacity 1s ease-out;
    padding: 75px;
    background-color : rgb(125, 249, 255,0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgba(0,0,0,0.8);
    letter-spacing: 0.05rem ;
}
.Main-1.visible{
  opacity : 1 ;
}
.Main-1 h2{
  color: rgba(34, 41, 129, 0.8) ;
  font-size: 1.8rem;
  padding-bottom: 20px;
}
.Main-1 hr{
  border:2px solid rgb(135, 206, 235);
  border-radius : 3px ;
  width : 6% ;
}
.Main-2{
  opacity: 0;
  transition: opacity 1s ease-out;
  padding: 75px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.05rem ;
  text-align: center;
}
.Main-2.visible{
  opacity : 1 ;
}
.Main-2 h2{
  color: rgba(34, 41, 129, 0.8) ;
  font-size: 1.8rem;
  padding-bottom: 20px;
}
.Main-3{
    opacity: 0 ;
    transition: opacity 1s ease-out;
    padding: 75px ;
    background-color :rgba(31,72,125,1) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align : center ;
    color : white ;
    letter-spacing: 0.05rem ;
}
.Main-3.visible{
  opacity:1;
}
.Main-3 h2 {
  color: white;
  font-size: 1.8rem;
  padding-bottom: 30px;
}

.steps {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.grid-container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px 20px;
  padding: 75px 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.grid-item {
  width: 100%;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  color: rgba(34, 41, 129, 1);
  border-radius: 4px;
}

 .Foot{
  color:white;
  background-color:black;
 }
  .Bottom{
    width: 80%;
    margin-left:auto ;
    margin-right:auto;
    padding-top:5%;
    padding-bottom:5%;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .Bottom-1{
    margin:5%;
    grid-column: 1/2;
  }
  .Bottom-2{
     margin:5%;
     grid-column:2/3;
  }
  .Bottom-3{
    margin:5%;
    grid-column: 3/4;
  }
  .Bottom-4{
    margin:5%;
    grid-column:4/5;
  }
  span{
    color : rgba(31,190,255,0.73);
    font-size : 1.8rem ;
  }
  .Main-1-image{
    background-color : white ;
    padding : 20px ;
    width :fit-content;
    box-shadow: rgba(31,190,255,0.5) 1px 3px 12px -1px, rgba(31,190,255,0.5) 0px 3px 7px -3px;
    margin: auto;
  }
  .Main-1-head{
    padding : 20px ;
  }
  .Main-1-head h3{
    color : rgba(60, 157, 196, 0.73) ;
    font-size : 1.4rem ;
    padding : 10px ;
  }
  .Main-2-head{
    padding : 20px ;
  }
  .Main-2-head h3{
    color : rgba(60, 157, 196, 0.73) ;
    font-size : 1.4rem ;
    padding : 10px ;
  }
  .footer-list{
    padding:2%;
  }
  .footer-list li{
    list-style-type:disc ;
    color:white;
    padding : 2% ;
  }
  .footer-list li a{
      color : white ;
      text-decoration: none; 
  }
  .social-icons-container {
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
  
  

  /*About Us*/
 
  .about-us {
    margin: 10% 10%;
    line-height: 2;
    font-size: 120%;
  }
  
  .image-1{
    float:left;
    width: 75%;
    max-width: 300px;
    height: auto;
    margin-right: 4%;
    margin-top:2%;
  }
  .image-2 {
    float: right;
    height: 50%;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
  }
  
.who-we-are{
  line-height: 2;
  font-size: large;
  height: 30%;
}
.what-do-we-do{
  height: 30%;
  font-size: large;
  line-height: 2;
  margin-bottom: 10px;
}
.our-aim{
  font-size:large;
  line-height: 2;
}
.team-heading{
  text-align: center;
}
.mehul{
  height: 400px;

}
.mehul-img{
  width:300px;
  height:300px;
  float: left;
  margin-right: 40px;
}
.navam{
  height:400px;
}
.navam-img{
  width: 300px;
  height: 300px;
  float: right;
  margin-left:40px;
}
.priyanshu{
  height:400px;
}
.priyanshu-img{
  width:300px;
  height:300px;
  float:left;
  margin-right:40px;
}
.heading-1{
  margin-left:25%;
}
.heading-2{
  margin-right : 75%;
}
hr{
  width: auto;
}

/* Default styles */



/* Styles for screens smaller than 768px */

@media only screen and (max-width: 768px) {
  .about-us {
    padding: 30px;
  }
  .who-we-are {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .what-do-we-do {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .our-aim {
    text-align: center;
  }
  .mehul, .navam, .priyanshu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mehul-img, .navam-img, .priyanshu-img {
    width: 100%;
    max-width: 300px;
  }
}

/* Styles for screens between 768px and 1200px */

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .about-us {
    padding: 40px;
  }
  .who-we-are {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .what-do-we-do {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .our-aim {
    text-align: center;
  }
}

/* Styles for screens larger than 1200px */

@media only screen and (min-width: 1200px) {
  .who-we-are {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .what-do-we-do {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}


/*Profile Page*/

.Profile{
  /*display : flex ;*/
  width:80% ;
  margin-left:auto ;
  margin-right:auto ;
  margin : 10% ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
}
.Profile-Info{
  display: flex ;
  padding : 7.5% ;
}
.Profile-Info h4{
  float : left ;
  color:rgba(60, 157, 196, 0.73)
}
.Profile-Info p{
  float : right ;
  align-items: center;
}
.Profile-1{
  display: flex;
}
.User-Image{
  width: 50% ;
}
.User-Information{
  width : 50%;
  padding-left: 7.5%;
  padding-right : 7.5% ;
  padding-top : 5% ;
}
.User-Information h2{
  text-align : center;
  color :rgba(34, 41, 129, 1)
}

/*Cards*/
.cards{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100% ;
  margin:0 auto;
}

.card-container {
  perspective : 1000px ;
  width:25%;
  height:inherit;
  margin:1rem;
  padding:1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: rotateY(-10deg);
}
.image{
  width:100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.pg-info{
  margin:20px 5px;
}

.pg-price{
  color:#1faa59;
  font-size:1.3rem;
}

.pg-name{
  font-size:150%;
  font-weight: bold;
  color: rgba(34, 41, 129, 1);
}

.read-more{
  color:#12b0e8;
  cursor: pointer;
}


.refresh{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-white{
  margin-top:18px;
  padding:10px 80px;
  border: 1px solid white;
  cursor: pointer;
}

.btn-white:hover{
  background-color: white;
  color: black;
  transition: all 0.2s;
}


/* Developer section container */
.developers-section {
  padding: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Developer card container */
.developer-card {
  position: relative;
  width: 30%;
  height: 600px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-out;
}

/* Developer card image */
.developer-card img {
  border-radius: 50%;
  border: 4px solid rgb(135, 206, 235);
  width: 100%;
  height: 50%;
  object-fit: cover;
}

/* Developer card overlay */
.developer-card .description.show-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}



/* Developer card description */
.developer-card .description {
  display: none;
  margin-top: 20px;
}

/* Developer card description show state */
.developer-card .description.show {
  display: block;
}

.developer-card .description.show h3{
  color :rgba(34, 41, 129, 1);
  font-size: 24px;
  font-weight: bold;
  text-align: center;

}
.developer-card .description.show p {
  margin: 10px 0 0;
  font-size: 16px;
  text-align: center;
}
.developer-card .description.show a{
  margin: 10px 0 0;
  text-align: center;
}

/* Developer card hover state */
.developer-card:hover {
  transform: scale(1.05);
}

.developer-card:hover .developer-card-overlay {
  opacity: 1;
}
